@font-face{
    font-family: 'fonte';
    src: url('fonte/Inter/');
    font-weight: normal;
    font-style: normal;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'inter',sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:1770px) {
    section#pagamento{
        margin-left: 290px;
    }
    @media screen and (max-width:1900px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 200px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
      
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
    @media screen and (max-width:1800px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 200px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
       
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
    @media screen and (max-width:1700px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 200px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
        
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
    @media screen and (max-width:1600px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 200px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
        
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
    @media screen and (max-width:1500px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 200px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
        
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
    @media screen and (max-width:1400px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 100px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
        
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
    @media screen and (max-width:1280px) {
        body {
            width: 100%;
           
        }
        section#pagamento{
            margin-left: 50px;
        }
        nav.menu {
            width: 100%;
        }
        li.menu1 {
            font-size: 15px;
            margin-right: 130px;
    
        }
        nav.menu{
        width: 1280px;
        }
        li.menu5 {
            font-size: 15px;
        }
        li.menu1{
            margin-right: 100px;
        }  
        li.menu2{
                margin-right: 100px;
        }
            
        li.menu3 {
                margin-right: 100px;
        }
            
        li.menu4 {
                margin-right: 100px;
        }
            
        li.menu5 {
                margin-right: 100px;
        }
        
        ul.item_menu {
            
            font-size: 13px;
            display:flex;
            margin-top: 30px;
        }
        div.cartoes{
            margin-left: -23px;
            
        }
        button.cartao{
            padding: 10px 50px;
        }
    }
}
.menu{
    width: 100%;
    box-shadow:  1px -15px 100px #00AEFF ,1200px -40px 100px #002447,400px -35px 100px #004C99;
    
}
.item_menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    margin-top: 22px;
    font-weight: bold;   
}
.menu1{
    margin-right: 200px;
    font-size: 20px;
    color: darkblue;
}
 .menu2{
    margin-right: 200px;
}
 .menu3{
    margin-right: 200px;
}
 .menu4{
    margin-right: 200px;
}
 .menu5{
    margin-right: 100px;
}
 .menu{ 
    border: 1px solid rgb(218, 218, 218);
    height: 130px;
}
 .img_perfil{  
    width: 50px;
    border-radius: 50px;
}
 .icone_perfil{
   width: 40px; 
    
}
.img_logo{  
    width: 5%;
}
.iconeP1{
    width: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.iconeP2{
    width: 50px;
    margin-left: 118px;
    margin-bottom: 50px;
}
.iconeP3{
    width: 50px;
    margin-left: 114px;
    margin-bottom: 50px;
}
#pagamento{
    margin-top: 100px;
    margin-left: 400px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
    border: 1px solid  rgb(218, 218, 218);
    width: 990px;
    padding: 100px;
    margin-bottom: 100px;
    margin-right: -100px;
   
}
.dados{
    list-style: none;
    display: flex;
    
}
.dados1{
    margin-right: 150px;
}
.itemd1{
    margin-left: 148px;
}
.itemd2{
    margin-left: 100px;
}
.itemd3{
    margin-left: 100px;
}
.d{
    display: grid;
    width: 300px;
}
.itemd{
    margin-left: 90px;
    padding: 5px;
    
}
.pgt2{
    margin-left: 130px;
}
.dadospgto2{
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
   
}
.dadospgt3{
    padding: 50px 100px;
    border: 1px solid  rgb(218, 218, 218);
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
    border-radius: 10px;
 
   
}
.dadospgt4{
    padding: 50px 100px;
    border: 1px solid  rgb(218, 218, 218);
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
    background-color: rgb(0, 217, 255);
}
.inf{
    margin-right: 80px;
    margin-bottom: 20px;
    font-weight: bold;
}
.inf1{
    margin-right: 80px;
    font-weight: bold;
}
.inform{
    width: 300px;
    list-style: none;
    border: 1px solid  rgb(218, 218, 218);
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
    border-radius: 20px;
    padding: 30px 50px;
    margin-top: 45px;
    margin-left: 40px;
}
.infCont{
    display: flex;
}
.verificado{
    margin-left: 80px;
    margin-top: 70px;
}
.impost{
    margin-right: 20px;
}
.imgCont{
    width: 200px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
}
.verificado{
    width: 100px;
}
.impost{
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
    border-radius: 20px;
    width: 60px;
    padding: 20px;
    color: green;
}
.valor,h3,p{
    display: flex;
    margin-left: 10px;
  
}
.valor{
margin-top: 18px;
border: 1px solid rgb(218, 218, 218);
box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
border-radius: 20px;
height: 65px;
width: 200px;

}

.total{
    margin-top: 23px;
    
}
.reais{
    color: green;
    margin-left: 10px;
    margin-top: -1px;
}
.complemento{
    display: flex;
    margin-left: -830px;
    margin-top: 300px;
}
.ft{
    display: flex;
    background-color: #e7e7e7;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 4px 4px 5px 1px  rgb(201, 201, 201), -1px -1px 5px 1px  rgb(201, 201, 201);
    border-radius: 20px;
    padding: 20px;
}